<!--<div id="homepagebody">-->
    <!--<div class="container" style="padding-top: 150px;text-align: center">-->
        <!--<h1><b style="color: whitesmoke">Everyone can create their own piece of music.</b> </h1>-->
        <!--<p style="padding-top: 50px">-->
            <!--<b style="color: whitesmoke">-->
                <!--Have you experienced moments of genius and inspiration?-->
                <!--You occasionally hum a piece of melody you came up with and you don’t know-->
                <!--how to record your genius? Within a few easy steps you can create and listen to your own songs.-->
            <!--</b>-->
        <!--</p>-->
    <!--</div>-->

<!--</div>-->

<!--<iframe src="http://www.rememberspook.com/"-->
        <!--frameborder="0" style="width: 100%; height: 100%" scrolling="no">-->
    <!--landing page</iframe>-->

<head>

    <title>Solace: An Interactive Animated Film by Evan Boehm</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta property="og:title" content="Solace: An Interactive Animated Film by Evan Boehm">
    <meta property="og:url" content="http://www.rememberspook.com/">
    <meta property="og:image" content="http://www.rememberspook.com/solace_share_img.png">
    <meta property="og:description" content="Do you remember spook?">

    <meta name="twitter:title" content="Solace: An Interactive Animated Film by Evan Boehm">
    <meta name="twitter:description" content="Solace: An Interactive Animated Film - Science fiction for the web from @evanbbb @nexuslondon @jeffnoon http://www.rememberspook.com/">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:image" content="http://www.rememberspook.com/solace_share_img.png">
    <meta name="twitter:site" content="@evanbbb">
    <meta name="twitter:creator" content="@evanbbb">


    <link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="icon" href="favicon.ico" type="image/x-icon">

    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">

    <link rel="stylesheet" href="pixeljuice/img.index/font-awesome-4.6.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="pixeljuice/css.index/normalize.css">

    <link rel="stylesheet" href="pixeljuice/css.index/solace_general.css?r=" + Math.round(Math.random() * 99999>
    <link rel="stylesheet" media="(max-width: 420px)" href="pixeljuice/css.index/solace_mobile.css?r=" + Math.round(Math.random() * 99999>
    <link rel="stylesheet" media="(max-height: 500px)" href="pixeljuice/css.index/solace_mobile_landscape.css?r=" + Math.round(Math.random() * 99999>
    <link rel="stylesheet" media="(min-width: 420px) and (max-width: 799px) and (min-height: 500px)" href="pixeljuice/css.index/solace_small.css?r=" + Math.round(Math.random() * 99999>
    <link rel="stylesheet" media="(min-width: 800px) and (min-height: 500px)" href="pixeljuice/css.index/solace_medium.css?r=" + Math.round(Math.random() * 99999>
    <link rel="stylesheet" media="(min-width: 1024px) and (min-height: 750px)" href="pixeljuice/css.index/solace_large.css?r=" + Math.round(Math.random() * 99999>

</head>

<body id="myBody" onload="SOLACE.init();">
<div id='wrapper'>
    <div class="frameBar" id="main-header">
			<span class="menu menu-left"><a target="_blank" href="http://nexusproductions.com/interactive-arts" ><img id="small-crest" src="pixeljuice/img.index/nexus_crest.svg" style="height:30px;" onmouseover="this.src='pixeljuice/img/img.index/nexus_crest_hover.svg'" onmouseout="this.src='pixeljuice/img/img.index/nexus_crest.svg'" onmousedown="this.src='pixeljuice/img/img.index/nexus_crest_down.svg'" onmouseup="this.src='pixeljuice/img/img.index/nexus_crest_hover.svg'"></a>
			</span>
        <span class="menu menu-center">&nbsp;
			</span>
        <span class="menu menu-right"><a onclick="SOLACE.homeClicked();" href="#">HOME</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a onclick="SOLACE.aboutClicked();" href="#">ABOUT</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a onclick="SOLACE.creditsClicked();" href="#">CREDITS</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="#" id="sound-btn" class="fa fa-volume-up fa-fw no_line" style="font-size: 16px;" onclick="SOLACE.toggleSound();"></a><span id="fullscreen-span">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="#" id="fullscreen-btn" class="fa fa-expand fa-fw no_line" style="font-size: 16px;" onclick="SOLACE.toggleFullScreen();"></a></span>
			</span>
    </div>
    <div id="fs-holder">
        <div id="main-middle">
            <div id="non-film-horizontal">
                <div id="non-film-vertical">
                    <div id="fallback">
                        <h2 id="small-presents">Nexus Interactive Arts Presents</h2>
                        <img id="small-logo" src="pixeljuice/img.index/solace_colour.svg">
                        <h2 id="small-story-by">Film by Evan Boehm&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;Story by Jeff Noon</h2>
                        <h2 id="larger-screen">This film needs to be experienced in a larger window</h2>
                        <h2 id="landscape-msg">Solace is an interactive film for the web.<br/>It needs to be experienced in a larger window.<br/>&nbsp;<br/>It's super cool - Expand this window or come back with a laptop or desktop.</h2>
                    </div>
                    <div id="browser-fallback">
                        <h2 id="browser-presents">Nexus Interactive Arts Presents</h2>
                        <img id="browser-logo" src="pixeljuice/img.index/solace_colour.svg">
                        <h2 id="browser-story-by">Film by Evan Boehm&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;Story by Jeff Noon</h2>
                        <h2 id="browser-screen">Sorry your browser is unable to view this interactive film. We recommend <a href="https://www.google.com/chrome/browser/desktop/index.html" class="invert" target="_blank">Chrome</a>.</h2>
                    </div>
                    <div id="main-inner-title">
                        <div>
                            <h2 id="presents">Nexus Interactive Arts Presents</h2>
                            <img id="large-logo" src="pixeljuice/img.index/solace_colour.svg">
                            <h2 id="story-by">Film by Evan Boehm&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;Story by Jeff Noon</h2>
                            <a href="#" ><img id="play-btn" src="pixeljuice/img.index/play_btn.svg" onmouseover="this.src='pixeljuice/img/img.index/play_btn_hover.svg'" onmouseout="this.src='pixeljuice/img/img.index/play_btn.svg'" onmousedown="this.src='pixeljuice/img/img.index/play_btn_down.svg'" onmouseup="this.src='pixeljuice/img/img.index/play_btn_hover.svg'" onclick="SOLACE.playFilm();" /></a>
                            <h2 id="browser-recommend">Sorry, but this browser can only play a reduced form of the film. We recommend <a href="https://www.google.com/chrome/browser/desktop/index.html" class="invert" target="_blank">Chrome</a>.</h2>

                        </div>
                    </div>
                    <div id="main-inner-about">
                        <div id="about-text"  class="custom-scrollbar">
                            <h2 id='about-title'>Solace</h2>
                            <p>Solace is an interactive, animated film by Evan Boehm based on celebrated science fiction writer Jeff Noon’s short story about a near future in which marketing and addiction are disturbingly intertwined.</p>

                            <p>The fabric of the film is a generative, interactive liquid written in code. Using the library paper.js as its base, the team built an engine that produced a cartoon-like physics system that could respond to user interactions and generate character animation in real-time. A visitor to the film uses their cursor to poke, pop and pull this liquid to play with the story.</p>

                            <p>To weave it all together, a real-time audio sound system was also produced to provide the atmospheric soundtrack. The audio responds to the user, and the story, in real-time.</p>
                            <p><a class="invert" target="_blank" href="http://www.creativeapplications.net/js/solace/">Click here for a behind the scenes breakdown.</a></p>
                            <p><a class="invert" target="_blank" href="http://www.rememberspook.com/solace_press_pack.zip">Click here for a press pack.</a></p>
                            <p><a class="invert" onclick="SOLACE.aboutClicked_back();" href="#">&larr; back</a></p>
                        </div>
                    </div>
                    <div id="main-inner-credits" class="custom-scrollbar">
                        <h2 id='credits-title'>Solace</h2>
                        <div>
                            <table id='credits-table'>
                                <tr>
                                    <th class="right-credits">Director</th>
                                    <th class="left-credits">Evan Boehm</th>
                                </tr>
                                <tr>
                                    <th class="right-credits">Story</th>
                                    <th class="left-credits">Jeff Noon</th>
                                </tr>
                                <tr>
                                    <th class="right-credits">Voices</th>
                                    <th class="left-credits">Gethin Anthony<br/>Daniel-Konrad Cooper</th>
                                </tr>
                                <tr>
                                    <th class="right-credits">Executive Producer</th>
                                    <th class="left-credits">Luke Ritchie</th>
                                </tr>
                                <tr>
                                    <th class="right-credits">Producer</th>
                                    <th class="left-credits">Sarah Arruda</th>
                                </tr>
                                <tr>
                                    <th class="right-credits">Programming</th>
                                    <th class="left-credits">Andrew Wilde<br/>Dave Meckin<br/>Evan Boehm</th>
                                </tr>
                                <tr>
                                    <th class="right-credits">Sound</th>
                                    <th class="left-credits">Dave Meckin</th>
                                </tr>
                                <tr>
                                    <th class="right-credits">Illustration</th>
                                    <th class="left-credits">Robin Davey</th>
                                </tr>
                                <tr>
                                    <th class="right-credits">Animation</th>
                                    <th class="left-credits">Campbell Hartley<br/>Evan Boehm<br/>Rebecca Perrone</th>
                                </tr>
                                <tr>
                                    <th class="right-credits">Production</th>
                                    <th class="left-credits">Nexus Interactive Arts</th>
                                </tr>
                                <tr>
                                    <th class="right-credits">Code Support</th>
                                    <th class="left-credits">JSGeeks</th>
                                </tr>
                                <tr>
                                    <th class="right-credits">Thanks to</th>
                                    <!-- <th>Jeff Noon’s Agent<br/>Beccy McCray<br/>Charlotte Bavasso<br/>Chris O'Reilly<br/>Claire Cook<br/>Damien Mortini<br/>Dominik Koller<br/>Greet Kallikorm<br/>Luis De Jorge<br/>Matt Bilson<br/>Matt Pearson<br/>Silvio Paganini<br/>Tina Surelia<br/>Vitor Marques</th> -->
                                    <th class="left-credits">Beccy McCray, Brains and Hunch, Charlotte Bavasso, Chris O'Reilly, Claire Cook, Damien Mortini, David De Rosier, Dominik Koller, Emmanuelle Walker, Greet Kallikorm, James Hatley, James Tomkinson, Judy Hill, Luis De Jorge, Matt Bilson, Matt Pearson, MATTER.js, Michelle Kas, PAPER.JS, Samia Ahmed, Silvio Paganini, TONE.JS, Tony Volpe and Vitor Marques</th>
                                </tr>
                                <tr>
                                    <th class="right-credits">Special Thanks to</th>
                                    <th class="left-credits">Tina Surelia</th>
                                </tr>
                            </table>
                        </div>
                        <div>
                            <a class="invert" onclick="SOLACE.creditsClicked_back();" href="#">&larr; back</a>
                        </div>
                    </div>
                    <div id="main-inner-loading">
                        <!-- <p id="progress">loading</p> -->
                        <canvas id="loading-canvas"></canvas>
                    </div>
                    <div id="main-inner-choice">
                        <h2 id="quality-choice"><a id="quality-choice-best" class="invert" onclick="SOLACE.fadeOutChoice(5);" href="#">HIGH QUALITY</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<a class="invert" onclick="SOLACE.fadeOutChoice(2);" href="#">STANDARD QUALITY</a></h2>
                    </div>
                </div>
            </div>
            <div id="main-inner-iframe">
                <!-- <iframe id="juice-iframe" src="pixeljuice/test.html"></iframe>  -->
            </div>
            <div id="bubble_container">
                <canvas id="bubble_canvas" resize="true"></canvas>
            </div>
        </div>
    </div>
    <div class="frameBar" id="main-footer">
			<span class="menu menu-left">
				<span id="timeline-span"><a href="#"><img id="tl-play-btn" src="pixeljuice/img.index/tl_play_btn.svg" style="height:14px;" onmouseover="this.src='pixeljuice/img/img.index/tl_play_btn_hover.svg'" onmouseout="this.src='pixeljuice/img/img.index/tl_play_btn.svg'" onmousedown="this.src='pixeljuice/img/img.index/tl_play_btn_down.svg'" onmouseup="this.src='pixeljuice/img/img.index/tl_play_btn_hover.svg'" onclick="SOLACE.restart();" /><img id="tl-pause-btn" src="pixeljuice/img.index/tl_pause_btn.svg" style="height:14px;" onmouseover="this.src='pixeljuice/img/img.index/tl_pause_btn_hover.svg'" onmouseout="this.src='pixeljuice/img/img.index/tl_pause_btn.svg'" onmousedown="this.src='pixeljuice/img/img.index/tl_pause_btn_down.svg'" onmouseup="this.src='pixeljuice/img/img.index/tl_pause_btn_hover.svg'" onclick="SOLACE.stop();" /></a><canvas id="timeline-canvas"></canvas>
				</span>
			</span>
        <span class="menu menu-center"><a id="change-quality" onclick="SOLACE.changeQuality();" href="#"></a></span>
        </span>
        <span class="menu menu-right">
				<ul class="share-buttons">
					<li>&nbsp;<a href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fwww.rememberspook.com%2F&t=Solace" target="_blank" title="Share on Facebook"><i class="fa fa-facebook-square fa-2x" aria-hidden="true" style="font-size: 24px;"></i><span class="sr-only">Share on Facebook</span></a></li>
					<li>&nbsp;<a href="https://twitter.com/intent/tweet?source=http%3A%2F%2Fwww.rememberspook.com%2F&text=Solace: An Interactive Animated Film. Science fiction for the web from %40evanbbb %40nexuslondon %40jeffnoon http%3A%2F%2Fwww.rememberspook.com%2F" target="_blank" title="Tweet"><i class="fa fa-twitter-square fa-2x" aria-hidden="true" style="font-size: 24px;"></i><span class="sr-only">Tweet</span></a></li>
					<li>&nbsp;<a href="https://plus.google.com/share?url=http%3A%2F%2Fwww.rememberspook.com%2F" target="_blank" title="Share on Google+"><i class="fa fa-google-plus-square fa-2x" aria-hidden="true" style="font-size: 24px;"></i><span class="sr-only">Share on Google+</span></a></li>
					<li>&nbsp;<a href="http://www.reddit.com/submit?url=http%3A%2F%2Fwww.rememberspook.com%2F&title=Solace" target="_blank" title="Submit to Reddit"><i class="fa fa-reddit-square fa-2x" aria-hidden="true" style="font-size: 24px;"></i><span class="sr-only">Submit to Reddit</span></a></li>
				</ul>
			</span>
    </div>
</div>
<div id="cover">
    <div id="drinking-horizontal">
        <div id="drinking-vertical">
            <div id="drinking-text">
                <p>drinking...</p>
            </div>
        </div>
    </div>
</div>
<div id='preload'>
    <img src="pixeljuice/img.index/loading_bubble.png" width="1" height="1"/>
    <img src="pixeljuice/img.index/loading_text.png" width="1" height="1"/>
    <img src="pixeljuice/img.index/loading_mask.png" width="1" height="1"/>
</div>
</body>

<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-83913151-1', 'auto');
    ga('send', 'pageview');

</script>

<!-- libs -->
<script src='pixeljuice/js/js.min/libs/paper-full.js' type='text/javascript' ></script>
<script src='pixeljuice/js/js.min/libs/perlin-noise-simplex.js' type='text/javascript'></script>
<script src='pixeljuice/js/js.min/libs/jquery-3.1.0.min.js' type='text/javascript'></script>
<script src='pixeljuice/js/js.min/libs/preloadjs-0.6.2.min.js' type='text/javascript'></script>
<script src='pixeljuice/js/js.min/libs/ua-parser.min.js' type='text/javascript'></script>

<!-- <script src='pixeljuice/js/js.index/solace.index.min.js' type='text/javascript'></script>-->
<!-- javascript -->
<script src='pixeljuice/js/js.index/solace.js' type='text/javascript'></script>
<script src='pixeljuice/js/js.index/timeline.js' type='text/javascript'></script>
<script src='pixeljuice/js/js.index/LoadAni.js' type='text/javascript'></script>
<script src='pixeljuice/js/js.index/BubbleCanvas.js' type='text/javascript'></script>

<script>
    $('*').bind('touchmove', false);
</script>

