<div id="homepagebody">
    <div class="container" style="padding-top: 150px;text-align: center">
        <h1><b style="color: whitesmoke">Everyone can create their own piece of music.</b> </h1>
        <p style="padding-top: 50px">
            <b style="color: whitesmoke">
                Have you experienced moments of genius and inspiration?
                You occasionally hum a piece of melody you came up with and you don’t know
                how to record your genius? Within a few easy steps you can create and listen to your own songs.
            </b>
        </p>
    </div>

</div>