<!--<nav class="nav nav-pills nav-stacked col-sm-2 navbar-default">-->
    <!--<a class="nav-link active" href="#/profile">User Profile</a>-->
    <!--<a class="nav-link" href="#/user/{{model.user._id}}/song">My Songs</a>-->
    <!--<a class="nav-link" href="#/mycourse">My Courses</a>-->
    <!--<a class="nav-link" href="#/mydiary">My Diary</a>-->
<!--</nav>-->


<ul class="nav nav-pills nav-stacked col-sm-2 navbar-default">
    <li class="nav-item" >
        <a class="nav-link" href="#/profile/{{model.user._id}}">My Profile</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#/user/{{model.user._id}}/song">My Songs</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#/mycourse">My Courses</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#/mydiary">My Diary</a>
    </li>
</ul>