
<nav class="nav nav-pills nav-stacked col-sm-2 navbar-default">
    <a class="nav-link active" href="#/courseList">Instruments</a>
    <a class="nav-link" href="#/featuredCourse">Featured</a>
    <a class="nav-link" href="#">Music Theory</a>
    <a class="nav-link" href="#">Music Production</a>
</nav>

<div class="card-columns col-sm-10">
    <a class="card" href="https://www.musictheory.net/lessons">
        <img class="card-img-top" src="img/course/course1.png" style="width: 100%" alt="img not found">
        <blockquote class="card-blockquote">
            <small class="text-muted">Music Theory</small>
        </blockquote>
    </a>

    <a class="card" href="https://musiclab.chromeexperiments.com/Chords">
        <img class="card-img-top" src="img/course/course2.png" style="width: 100%" alt="img not found">
        <blockquote class="card-blockquote">
            <small class="text-muted">Piano Chords</small>
        </blockquote>
    </a>


    <a class="card" href="https://musiclab.chromeexperiments.com/Arpeggios">
        <img class="card-img-top" src="img/course/course3.png" style="width: 100%" alt="img not found">
        <blockquote class="card-blockquote">
            <small class="text-muted">Arpeggios</small>
        </blockquote>
    </a>

    <a class="card" href="https://musiclab.chromeexperiments.com/Harmonics">
        <img class="card-img-top" src="img/course/course4.png" style="width: 100%" alt="img not found">
        <blockquote class="card-blockquote">
            <small class="text-muted">Harmonics</small>
        </blockquote>
    </a>

    <a class="card" href="https://musiclab.chromeexperiments.com/Piano-Roll">
        <img class="card-img-top" src="img/course/course5.png" style="width: 100%" alt="img not found">
        <blockquote class="card-blockquote">
            <small class="text-muted">Piano Roll</small>
        </blockquote>
    </a>

    <a class="card" href="https://musiclab.chromeexperiments.com/Strings">
        <img class="card-img-top" src="img/course/course6.png" style="width: 100%" alt="img not found">
        <blockquote class="card-blockquote">
            <small class="text-muted">Strings</small>
        </blockquote>
    </a>

    <a class="card" href="https://experiments.withgoogle.com/ai/ai-duet/view/">
        <img class="card-img-top" src="img/course/course7.png" style="width: 100%" alt="img not found">
        <blockquote class="card-blockquote">
            <small class="text-muted">AI Duet</small>
        </blockquote>
    </a>

    <a class="card" href="https://codepen.io/jakealbaugh/full/qNrZyw">
        <img class="card-img-top" src="img/course/course8.png" style="width: 100%" alt="img not found">
        <blockquote class="card-blockquote">
            <small class="text-muted">Musical Chord Progression Arpeggiator</small>
        </blockquote>
    </a>

    <a class="card" href="https://learningmusic.ableton.com">
        <img class="card-img-top" src="img/course/course9.png" style="width: 100%" alt="img not found">
        <blockquote class="card-blockquote">
            <small class="text-muted">learningmusic</small>
        </blockquote>
    </a>

    <a class="card" href="https://www.halloweensoundboard.com/">
        <img class="card-img-top" src="img/course/course10.png" style="width: 100%" alt="img not found">
        <blockquote class="card-blockquote">
            <small class="text-muted">Halloween Soundboard</small>
        </blockquote>
    </a>

    <a class="card" href="https://p5js.org/assets/p5_featured/maya-dulynoted/">
        <img class="card-img-top" src="img/course/course11.png" style="width: 100%" alt="img not found">
        <blockquote class="card-blockquote">
            <small class="text-muted">maya-dulynoted</small>
        </blockquote>
    </a>

    <div class="card">
        <img class="card-img-top" src="img/husky2.jpg" style="width: 100%" alt="Card image cap">
        <div class="card-block">
            <h4 class="card-title">Card title that wraps to a new line</h4>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div>
    </div>


    <div class="card">
        <img class="card-img" src="img/kitten.jpg" style="width: 100%" alt="Card image">
    </div>

    <div class="card">
        <img class="card-img-top" src="img/husky.jpg" style="width: 100%" alt="Card image cap">
        <div class="card-block">
            <h4 class="card-title">Card title</h4>
            <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
    </div>

    <div class="card card-block card-inverse card-primary text-xs-center">
        <blockquote class="card-blockquote">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat.</p>
            <footer>
                <small>
                    Someone famous in <cite title="Source Title">Source Title</cite>
                </small>
            </footer>
        </blockquote>
    </div>

    <div class="card card-block text-xs-center">
        <h4 class="card-title">Card title</h4>
        <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>

</div>
