#guitar1{
    position: absolute;
    z-index: 7;
    opacity:0.8;
    top: 145px;
    width: 104px;
    left: 198px;
}
#guitar2{
    position: absolute;
    z-index: 7;
    opacity:0.8;
    top: 118px;
    width: 82px;
    left: 280px;
}
#bass{
    position: absolute;
    z-index: 5;
    opacity:0.8;
    top: 111px;
    width: 193px;
    left: 329px
}
#violin{
    position: absolute;
    z-index: 7;
    opacity:0.8;
    top: 400px;
    width: 150px;
    left: 50px;
}
#viola{
    position: absolute;
    z-index: 2;
    opacity:0.8;
    top: 68px;
    width: 120px;
    left: 50px;
}
#cello{
    position: absolute;
    z-index: 3;
    opacity:0.8;
    top: 68px;
    width: 150px;
    left: 172px
}


#girl{
    position: absolute;
    z-index: 10;
    opacity: 0.8;
    top: 200px;
    right: 200px;
    width: 81px;
}
#drum1{
    position: absolute;
    z-index: 9;
    opacity: 0.8;
    top: 85px;
    width: 200px;
    right: 0px;
}
#drum2{
    position: absolute;
    z-index: 7;
    opacity: 0.8;
    top: 203px;
    width: 132px;
    right: 258px;
}
#piano1{
    position: absolute;
    z-index: 8;
    opacity: 0.8;
    top: 410px;
    right: 265px;
    width: 111px;
}
#piano2{
    position: absolute;
    z-index: 8;
    opacity: 0.8;
    top: 327px;
    right: 277px;
    width: 132px;
}
#piano3{
    position: absolute;
    z-index: 7;
    opacity: 0.8;
    top: 408px;
    right: 52px;
    width: 230px;
}

#xylophone1{
    position: absolute;
    z-index: 7;
    opacity: 0.8;
    top: 500px;
    right: 200px;
}

#tuba{
    position: absolute;
    z-index: 5;
    opacity:0.8;
    top: 300px;
    width: 120px;
    left: 700px;
}
#cat{
    position: absolute;
    z-index: 5;
    opacity:0.8;
    bottom: 30px;
    width: 100px;
    right: 0px;
}

#piano1:hover, #piano2:hover, #piano3:hover, #xylophone1:hover, #drum1:hover, #drum2:hover,
#girl:hover, #cat:hover, #guitar1:hover, #guitar2:hover,
#bass:hover, #violin:hover, #viola:hover, #cello:hover, #tuba:hover
{
    opacity: 1;
}