body {
    padding-top:67px;
}

#homepagebody{
    background-image: url(../img/homepage_bg.jpg);
    background-color: black;
    height: inherit;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
#homepagediv{
    width: 600px;
    padding-top: 100px;
}
.white-text{
    color: lightgray;
    text-align: center;
}



.card-columns {
    column-count: 4;
}

.container input{
    margin:10px;
}
.container a{
    margin:10px;
}
.container h1{
    margin:10px;
}
.nav-pills .nav-item.open .nav-link, .nav-pills
.nav-item.open .nav-link:focus, .nav-pills
.nav-item.open .nav-link:hover, .nav-pills .nav-link.active,
.nav-pills .nav-link.active:focus, .nav-pills .nav-link.active:hover {
    color: #fff;
    cursor: default;
    background-color: #5cb85c;
}
.navbar-nav>li>a{
    line-height: 32px;
}
a {
    color: #5cb85c;
    text-decoration: none;
}
a:focus, a:hover {
    color: darkgreen;
    text-decoration: none;
}

.input-group-addon.form-control-lg,
.input-group-lg>.input-group-addon,
.input-group-lg>.input-group-btn>.input-group-addon.btn{
     padding: 0.5rem;
     font-size: 1.25rem;
     border-radius: .3rem;
}


.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    color: #333;
    background-color: #e7e7e7;
}

.navbar-brand{
    line-height: 1.85;
}

a:not([href]):not([tabindex]){
    color: #fff;
}
.btn-group{
    margin-bottom: 10px;
}

.md-body-1 {
    font-size: 21px;
}
.flex-10, .layout-row>.flex-10 {
    max-width: 13%;
}
md-content.md-default-theme, md-content {
    background-color: rgb(255,255,255);
}
md-slider.md-default-theme.md-min[md-discrete] .md-thumb:after, md-slider.md-min[md-discrete] .md-thumb:after {
    background-color: rgb(255,64,129);
}

.flex-10, .layout-row>.flex-10 {
    max-width: 20%;
}

md-slider .md-slider-wrapper {
    width: 80%;
}

/*================================*/
.drum-pad{
    min-height: 50px;
    min-width: 50px;
    margin-left: 5px;
    margin-bottom: 5px;
}

#username:hover {
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
}

.error-span{
    margin-left: 10px;
    color:#d9534f;
}