<a href="#/user/{{model.userId}}/song/{{model.songId}}/instrument/piano">
    <img id="piano1" src="img/studio/piano1.png" />
</a>
<a href="#/user/{{model.userId}}/song/{{model.songId}}/instrument/piano">
    <img id="piano2" src="img/studio/piano2.png" />
</a>
<a href="#/user/{{model.userId}}/song/{{model.songId}}/instrument/piano">
    <img id="piano3" src="img/studio/piano3.png" />
</a>

<a href="#/user/{{model.userId}}/song/{{model.songId}}/instrument/xylophone">
    <img id="xylophone1" src="img/studio/xylophone1.png" />
</a>


<a href="#/user/{{model.userId}}/song/{{model.songId}}/instrument/drum">
    <img id="drum1" src="img/studio/drum1.png" align="right"/>
</a>
<a href="#/user/{{model.userId}}/song/{{model.songId}}/instrument/drum">
    <img id="drum2" src="img/studio/drum2.png"/>
</a>

<a>
    <img id="guitar1" src="img/studio/guitar1.png"/>
</a>
<a>
    <img id="guitar2" src="img/studio/guitar2.png"/>
</a>

<a>
    <img id="girl" src="img/studio/girl.png"/>
</a>

<a>
    <img id="tuba" src="img/studio/tuba.png"/>
</a>

<a>
    <img id="violin" src="img/studio/violin.png"/>
</a>

<a>
    <img id="viola" src="img/studio/viola.png"/>
</a>

<a>
    <img id="cello" src="img/studio/cello.png"/>
</a>

<a href="#/user/{{model.userId}}/song/{{model.songId}}/instrument/bass">
    <img id="bass" src="img/studio/bass.png"/>
</a>

<img id="cat" src="img/studio/cat.png"/>