<div id="song-edit">
    <div class="col-sm-4"></div>
    <div id="wood-sign" class="container col-sm-4" style="text-align: center">
        <h1 >{{model.song.songName}}</h1>

        <a href="#/user/{{model.userId}}/song" class="btn btn-success col-sm-3"
           style="margin: 0px; margin-left: 10px; float: right">
            <span class="glyphicon glyphicon-list" aria-hidden="true"></span>
        </a>
        <button type="button" class="btn btn-danger col-sm-3" ng-click="model.deleteSong()"
                style="float: right; margin-left: 10px;">
            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
        </button>


        <div ng-controller="ModalDemoCtrl as vm" class="modal-demo">
            <script type="text/ng-template" id="myModalContent.html">
                <div class="modal-header">
                    <h3 class="modal-title" id="modal-title">Song Info</h3>
                </div>
                <div class="modal-body" id="modal-body">
                    <div data-ng-include="'views/studio/song-info.html'"></div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" type="button" ng-click="vm.updateSong()">OK</button>
                    <button class="btn btn-warning" type="button" ng-click="vm.cancel()">Cancel</button>
                </div>
            </script>


            <button type="button" class="btn btn-info col-sm-3"
                    ng-click="vm.open()" style="float: right">
                <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
            </button>
        </div>


    </div>

    <div data-ng-include="'views/studio/instruments.html'"></div>
</div>
<!--<iframe id="sc-widget" width="100%" height="165" scrolling="no"-->
<!--frameborder="no"-->
<!--src="https://w.soundcloud.com/player/?url=http%3A%2F%2Fapi.soundcloud.com%2Ftracks%2F1848538&show_artwork=true">-->
<!--</iframe>-->



