<div>
    <div ng-show="vm.error" class="alert alert-danger">
        {{vm.error}}
    </div>

    <h5>Name</h5>
    <input ng-model="vm.song.songName" type="text" required
           style="margin-left: 0px; margin-bottom: 10px;"
           class="form-control" placeholder="song name"/>

    <h5>Tonality</h5>
    <div class="btn-group">
        <label class="btn btn-outline-success"
               ng-model="vm.song.mode"
               uib-btn-radio="'Major'">Major Keys</label>
        <label class="btn btn-outline-success"
               ng-model="vm.song.mode"
               uib-btn-radio="'None'">None</label>
        <label class="btn btn-outline-success"
               ng-model="vm.song.mode"
               uib-btn-radio="'Minor'">Minor Keys</label>
    </div>

    <div class="btn-group" uib-dropdown >
        <button id="split-button" type="button"
                class="btn btn-outline-warning">{{vm.song.key}} Key</button>
        <button type="button" class="btn btn-outline-warning" uib-dropdown-toggle>
        </button>
        <ul class="dropdown-menu" uib-dropdown-menu role="menu"
            aria-labelledby="split-button" >
            <li ng-repeat="key in vm.keys">
                <a href="#" ng-click="$event.preventDefault(); vm.song.key = key">{{ key }}</a>
            </li>
            <li class="divider"></li>
            <li role="menuitem">
                <a href="#" ng-click="$event.preventDefault(); vm.song.key = 'None'">None</a>
            </li>
        </ul>
    </div>

    <h5>Pitch</h5>
    <div class="btn-group">
        <label class="btn btn-outline-info"
               ng-model="vm.song.accidental"
               uib-btn-radio="'Sharp'">Sharp #</label>
        <label class="btn btn-outline-info"
               ng-model="vm.song.accidental"
               uib-btn-radio="'Natural'">Natural  Notes</label>
        <label class="btn btn-outline-info"
               ng-model="vm.song.accidental"
               uib-btn-radio="'Flat'">Flat b</label>
    </div>

    <h5>Tempo</h5>
    <div class="sliderdemoBasicUsage" style="margin-bottom: 10px">
        <md-content style=" padding-top: 20px; padding-left: 0px" >
            <div layout="">
                <md-slider flex="" md-discrete="" ng-model="vm.song.tempo"
                           step="1" min="40" max="200" aria-label="tempo" >
                </md-slider>
            </div>
        </md-content>
    </div>

</div>
